# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/

# Environment & Sessions
.env
.env.local
.sesskey


# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build / Release
releases/
dist/
build/

# Vercel
.vercel/
